body {
    background-image: url("assets/background.png");
    background-size: contain;
    margin:0;
    padding:0;
}
header {
    background-color: white;
    border-style:solid;
    border-color:white;
    border-width: 5px;
    position: sticky;
}
footer {
    background-color: white;
    border-style:solid;
    border-color:white;
    border-width: 15px;
    margin-top:600px;
    position: sticky;
}
#card {
    background-image: url("assets/1-1.png");
    position:fixed;
}
.stock {
    background-image: url("assets/stock.png");
    background-repeat:no-repeat;
    margin-left: 800px;
    margin-top:50px;
    transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
}
.tableau {
    background-image: url("assets/tableau.png");
}
.foundation {
    margin-left: 1300px;
    margin-top: -100px;
    transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
}
.f2 {
    margin-left: 90px;
    margin-top: -100px;
}
.f3 {
    margin-left: 180px;
    margin-top: -100px;
}
.f4 {
    margin-left: 270px;
    margin-top: -100px;
}